 body {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 80%;
    background-color: cornflowerblue;
}

/* .img{
    background-image: url(image/jellyfish.jpg);
    background-repeat: no-repeat;
    background: cover;
    width: 100%;
    height: 100%;
    background-size: 100% 100%; 
} */
fieldset {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-style: bold;
    color:black;
    padding: 15px;
    border: 7px solid goldenrod;
    max-width: 75%;
    align-content: center;
}

h1 {
    font-family: Typadelic;
    font-style: italic;
    text-shadow: 1px 3px;
    color: #D4999E;
}
button {
    display: flex;
    color: black;
    background-color: goldenrod;
    height: 10%;
    font-size: 1em;
}
.flex-container {
    display: flex;
    float: both;
    clear:both;
    padding: 7px; 
}

.middle,
#CC {
    padding: 10px;
}


